body {
    justify-content: center;
    
}
#logo {
    font-size: 35px;
    color: black;
}
img{
    margin-bottom: -5px;
    width: 40px ;
}
.header_box {
 
  margin: -2.1%;
  margin-bottom: 1px;
  min-height: 45px;
  text-align: center;
  border-bottom: dashed 1px gray;
  color: white;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.header_box .header_style {
   
  font-family: sans-serif;
  font-size: 20px;
  text-align: center;
  height: 0;
  margin-top: 0;
  
}
nav ul li {
  
  list-style: none;
  display: inline;
}

a {
  text-decoration: none;
}

a:link {
  color: white;
}

a:visited {
  color: white;
}


body {
    margin: 2%;
    ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: gainsboro;
    }

button ,select,option {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 30px;
}
select{
    margin-left: 10px;
}

#delete_all,#save{
    width: 120px;
    height: 50px;
    /* font-size: medium; */
    color:  white;
    background-color: red;
    border-style: none;
    border-radius: 5px;
    
}
#delete_all:hover{
    background-color: black;
    animation-duration: 1s;
}
#save:hover{
    background-color: black;
    animation-duration: 1s;
}
#details{
    
    display: inline;
}

#task_details {
    float: left;
    text-size-adjust: false;
    border-radius: 5px;
}

.expiring_time ,#save{
    display: block;
    float: left;
    width: 100%;
    
    
}

#right{
    float: left;
    width: 350px;
    margin-bottom: 30px;
    margin-left: 15px;
}
#save {
    background-color: orange;
}
#save:hover{
    background-color: black;
}
p{
    font-size: 12px;
    font-style: italic;
    
    
}
textarea{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

#back{
    float: left;
    width: 50px;
    position: relative;
    top: 7px;
    left: -30px
}